@using STEM_Net.Models
@model List<Sensor>

<table>
    <thead>
        <tr>
            <th>Device ID</th>
            <th>Name</th>
            <th>Moisture</th>
            <th>Longitude</th>
            <th>Latituthe</th>
            <th>Scientific Name</th>
            <th>Genus</th>
            <th>Species</th>
            <th>Tree Age</th>
            <th>Diameter</th>
            <th>Height</th>
            <th>Trunk Height</th>
            <th>Trunk Diameter</th>
            <th>Canopy Shape</th>
            <th>Stems</th>
            <th>Install Date</th>
            <th>Maintenance Need</th>
            <th>Space Width</th>
            <th>Space Length</th>
            <th>Vacant Site</th>
            <th>Active</th>
            <th>LastUpdate</th>
        </tr>
    </thead>
    @{
        foreach (Sensor sensor in Model)
        {
            <tr>
                <td>@sensor.DeviceId</td>
                <td>@sensor.Name</td>
                <td>@sensor.Moisture</td>
                <td>@sensor.Longitude</td>
                <td>@sensor.Latitutde</td>
                <td>@sensor.ScientificName</td>
                <td>@sensor.Genus</td>
                <td>@sensor.Species</td>
                <td>@sensor.TreeAge</td>
                <td>@sensor.Diameter</td>
                <td>@sensor.Height</td>
                <td>@sensor.TrunkHeight</td>
                <td>@sensor.TrunkDiameter</td>
                <td>@sensor.CanopyShape</td>
                <td>@sensor.Stems</td>
                <td>@sensor.InstallDate</td>
                <td>@sensor.MaintenanceNeed</td>
                <td>@sensor.SpaceWidth</td>
                <td>@sensor.SpaceLength</td>
                <td>@sensor.VacantSite</td>
                <td>@sensor.Active</td>
                <td>@sensor.LastUpdate</td>
            </tr>
        }
    }

</table>